<div ng-controller="searchController" id="search-page" ng-init="user.id='<%=current_user.try(:id)%>'">
  <div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Faça sua busca</label>
          <input ng-model="query" autofocus ng-change="executeQuery()">
        </md-input-container>
      </div>
    </md-content>
  </div>

  <div ng-cloak layout-gt-sm="row" layout="column" ng-if="documents[0]">
    <div flex-gt-sm="50" flex>
      <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">{{documents.length}} documentos encontrados (clique para expandir)</div>
      </md-toolbar>

      <md-content>
        <md-list flex>
          <md-list-item class="backdrop" ng-class="{hidden: !expanded}"></md-list-item>
          <md-list-item class="md-3-line" ng-repeat="document in documents" ng-init="document.expanded = false" ng-click="toggleDocument(document)" ng-class="{expanded: document.expanded}">
            <div class="md-list-item-text">
              <h3 ng-bind-html="document.title"></h3>
              <p ng-bind-html="document.expanded ? document.body : document.body_highlighted"></p>
              <p class="author">&ndash; {{document.author}}</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
        </md-list>
      </md-content>
    </div>
  </div>
</div>
