<!DOCTYPE html>
<html>
<head>
  <title>GuideTorch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="guideTorch">

  <md-content ng-controller="loginController">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button ng-href="/#">Guide Torch</md-button>
        <span flex></span>
        <% if current_user %>
          <md-button class="md-primary md-raised" ng-href="/admin">Admin</md-button>
        <% else %>
          <md-button class="md-primary md-raised" ng-click="showLoginDialog($event)">Login</md-button>
        <% end %>
      </div>
    </md-toolbar>
  </md-content>

  <%= yield %>

</body>
</html>
